@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: #141416;
    font-family: "JetBrains Mono", monospace;
    font-size: 12;
    color: #FFFFFF;
}

a {
    color: #5EDCF5;
    text-decoration: none;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    font-size: 8px;
    color: #1F2123;
}